<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Tutorial - Kafka with Storm</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/toastr.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootbox.js"></script>
    <script type="text/javascript" src="js/toastr.js"></script>
    <script type="text/javascript" src="js/index.js"></script>    

	</head>

	<body>
	<div class="site-wrapper">
	    <div class="site-wrapper-inner">
	        <div class="cover-container">

		      	<div class="masthead clearfix">
		            <div class="inner">
		              <ul class="nav masthead-nav">
		                <li class="disable"><a href="/">Login</a></li>
		                <li class="active"><a href="http://mytag.citiaps.cl">My tag</a></li>
		                <li class="active"><a href="http://www.citiaps.cl">CITIAPS</a></li>
		                <li class="active"><a href="http://158.170.35.87/~pigonzalez/">Profe Pablo</a></li>
		                <li class="active"><a href="http://158.170.35.87/~dwladdimiro/">Chardany</a></li>
		              </ul>
		            </div>
		      	</div>

		      	<div id="form-login" class="inner cover">
		            <h1 class="cover-heading">Bienvenido</h1>
		            <p>Login</p>
		            <form>
						<input id="form-login-nick" type="text" placeholder="Ingrese su nombre de usuario" required><br>
						<input id="form-login-pass" type="password" placeholder="Ingrese su contraseña" required><br>
						<button id="btn-login" type="submit" class="btn btn-inverse">Entrar</button>
					</form>
					<p id="link-register">¿No posee usuario?<br><a  href="#">Regístrese aquí.</a></p>
		        </div>

		      	<div id="form-register" class="inner cover" style="display:none">
		            <h1 class="cover-heading">Registrarse</h1>
		            <p>Por favor ingresar los siguientes datos:</p>
		            <form>
						<input id="form-register-nick" type="text" placeholder="Usuario" required><br>
						<input id="form-register-pass" type="text" placeholder="Contraseña" required><br>
						<button id="btn-register" type="submit" class="btn btn-inverse">Registrar</button>
					</form>

					<!--<div id="alert-register" class="alert alert-danger alert-dismissable alert-register">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>¡Error!</strong> Ya existe ese usuario en el sistema.
					</div>-->

		        </div>

	        </div>
	    </div>
    </div>
	</body>
</html>
